<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
</head>
<body>
<div class="container">
    <form role="form" method="POST" th:object="${user}" th:action="@{/signup.html}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:value="${user?.username}"/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:value="${user?.password}"/>
        <br/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>